name: Project automations
on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.0
        with:
          project-url: https://github.com/orgs/defenseunicorns/projects/1
          github-token: ${{ secrets.ZARF_ORG_PROJECT_TOKEN }}
